.header-wrp {

    height: 70px;
    align-items: center;
    border: 1px solid #51c6ea;
    border-radius: 25px;
    padding: 15px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.header-wrp a {
    cursor: default;
}

.header-left {
    display: flex;
    width: 40%;
    justify-content: space-between;
}
