
.hack-padding {
    padding-bottom: 70px;
}

.chat-wrp {
    margin: auto;
    width: 90%;
    max-width: 1400px;
}

.main-wrp {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #51c6ea;
    border-radius: 25px;
}

/****************/

.message-list-wrp {
    margin-top: 20px;
    height: calc(100vh - 70px - 70px - 20px - 20px - 50px);
    display: flex;
    flex-direction: column;
    padding: 25px;
    overflow-y: auto;
}
