
.trash {
    color: red;
    cursor: pointer;
}

#edit {
    cursor: pointer;
    color: #0d71bb;
}

.message-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.my-user-menu {
    display: flex;
    flex-direction: column;
}


.my-message-wrp {
    display: flex;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #51c6ea;
    border-radius: 5px;
    background: rgba(24, 188, 241, 0);
    color: #0d71bb;
    width: 50%;
}

.message {
    min-width: 90%;
    margin-left: 15px;
}

.header-message {
    display: flex;
    justify-content: space-between;


}

.header-message span {
    font-weight: bold;
    font-size: 0.8em;
}

.text-message {
    overflow-wrap: break-word;

}