.send-button .button {
    margin-left: 25px;
    height: 60px;
    width: 60px;
}


.message-input-wrp {
    height: 70px;
}

.message-input {
    display: flex;
    margin: 5px;
}

.message-input input {
    height: 60px;
    width: 90%;
}
