.column {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
}

.ui.teal.button {
    background-color: #0d71bb;
}

.ui.teal.button:hover {
    background-color: #2bbbff;
}

.error {
    width: 100%;
    text-align: center;
    color: red;
    margin: 5px;
    font-size: 20px;
}

.title {
    width: 100%;
    text-align: center;
    color: #0d71bb;
}