.modal-overlay {
    z-index: 900;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dialog-wrp {
    background: #79adcd;
    width: 500px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid blue;
    border-radius: 3px;
    padding: 30px;
    z-index: 999;
}

.text-area {
    width: 440px;
    max-width: 440px;
    height: 300px;
    max-height: 300px;
}

.button-group {
    display: flex;
    flex-direction: row-reverse;
}