.other-mes-row {
    display: flex;
}

.heart-wrp a i:hover {
    color: red;
}

.message-wrp {
    display: flex;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #51c6ea;
    border-radius: 5px;
    background: rgba(89, 219, 255, 0.44);
    color: #0d71bb;
    width: 50%;
}

.avatar {
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
}

.message {
    min-width: 90%;
    margin-left: 15px;
}

.header-message {
    display: flex;
    justify-content: space-between;


}

.header-message span {
    font-weight: bold;
    font-size: 0.8em;
}

.text-message {
    overflow-wrap: break-word;

}